<a href="https://colab.research.google.com/github/ryugp0205/matplotlib_library_guide/blob/main/colab_basic_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

python  code  성적표  1

In [4]:
# 학생 수와 과목 리스트 정의
num_students = 5
subjects = ['국어', '수학', '과학']

# 학생 정보 입력받기
students = []

for i in range(num_students):
    print(f"\n{i+1}번째 학생 정보 입력:")
    name = input("이름: ")
    scores = {}
    for subject in subjects:
        score = int(input(f"{subject} 점수: "))
        scores[subject] = score
    students.append({'이름': name, '점수': scores})

# 결과 출력
print("\n[학생별 성적표]")
print("{:<10} {:<6} {:<6} {:<6} {:<6} {:<6}".format("이름", "국어", "수학", "과학", "합계", "평균"))

# 과목별 총합 초기화
subject_totals = {subject: 0 for subject in subjects}

# 학생별 성적 계산 및 출력
for student in students:
    name = student['이름']
    scores = student['점수']
    total = sum(scores.values())
    avg = total / len(subjects)
    for subject in subjects:
        subject_totals[subject] += scores[subject]
    print("{:<10} {:<6} {:<6} {:<6} {:<6} {:.2f}".format(
        name,
        scores['국어'],
        scores['수학'],
        scores['과학'],
        total,
        avg
    )

# 과목별 평균 출력
print("\n[과목별 평균 점수]")
for subject in subjects:
    avg = subject_totals[subject] / num_students
    print(f"{subject}: {avg:.2f}점")

1번째 학생 정보 입력:
이름: ko
국어 점수: 71
수학 점수: 30
과학 점수: 60

2번째 학생 정보 입력:
이름: Yoo
국어 점수: 100
수학 점수: 100
과학 점수: 100

3번째 학생 정보 입력:
이름: Kim
국어 점수: 60
수학 점수: 40
과학 점수: 30

4번째 학생 정보 입력:
이름: Na
국어 점수: 30
수학 점수: 20
과학 점수: 60

5번째 학생 정보 입력:
이름: Lee
국어 점수: 80
수학 점수: 30
과학 점수: 90

[학생별 성적표]
이름         국어     수학     과학     합계     평균
ko         71     30     60     161    53.67
Yoo        100    100    100    300    100.00
Kim        60     40     30     130    43.33
Na         30     20     60     110    36.67
Lee        80     30     90     200    66.67

[과목별 평균 점수]
국어: 68.20점
수학: 44.00점
과학: 68.00점